.searchwrapper
  .searchzone
    .searchzone__input
      = form_tag(search_posts_path,:method => 'get') do
        = text_field_tag :keyword, "", placeholder: "旅行先検索 例：沖縄", class: "search-input" 
        = submit_tag '検索', class: "search-submit" 
        
