.headernav
  width: 100%
  border-bottom: 1px solid #e1dfe2
  display: flex
  justify-content: space-between
  .headeruppercontent
    display: flex
    margin-left: 20px
    &__title
      margin-bottom: 10px
      font-size: 25px
      margin-left: 250px
      margin-top: 20px
      padding-right: 300px
      br
        font-size: 10px
      i
        color: skyblue
      a
        text-decoration: none
        color: black

  .headerundercontent
    display: flex
    margin-right: 200px
    &__btn
      margin-top: 10px
      a
        text-decoration: none
        color: #333333
      &--logout
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 6px 12px
        margin: 0px 10px 0px 10px
      &--mypage
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 6px 12px
      &--login
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 8px 16px
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 6px 12px
      &--edit
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 8px 16px
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 6px 12px
      &--search
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 6px 12px
        color: #333333
      &--useredit 
        background-color: #efefef
        cursor: pointer
        display: inline-block
        font-size: 14px
        font-weight: 600
        border-radius: 15px
        padding: 6px 12px
        color: #333333
    .headerusericon
      width: 50px
      height: 50px
      border-radius: 50%
      text-align: center
      text-decoration: none
      background-color: skyblue
      color: white
      padding: 10px 0px
      margin-right: 20px
      overflow: scroll
