.contentswrapper
  margin: auto 0px
  .contents
    background-color: #efefef
    height: 846px
    width: 600px
    margin: 20px 300px
    border: 1px solid #e1dfe2
    box-shadow:  0 4px 6px rgba(146, 146, 146, 0.8)
    display: inline-block
    img
      height: 500px
      width: 100%
      display: inline-block
      margin: 0px
    &__country
      text-align: center
      margin-bottom: 20px
      a
        box-shadow:  0 4px 6px rgba(146, 146, 146, 0.8)
        font-size: 20px
        padding: 8px
        border-radius: 4px
    &__post
      padding: 20px
    .uppercontents
      display: flex
      justify-content: space-between
      &__usericon
        width: 60px
        height: 60px
        border-radius: 50%
        text-align: center
        text-decoration: none
        background-color: skyblue
        color: white
        padding: 15px 0px
      &__more  