.formwrapper
  margin: 20px 500px
  .form
    background-color: #efefef
    height: 684px
    width: 600px
    border: 1px solid #e1dfe2
    box-shadow:  0 4px 6px rgba(146, 146, 146, 0.8)
    display: inline-block
    select
      width: 300px
      height: 50px
      display: block
      margin: auto
      text-align: center
      background-color: white
      margin-top: 80px
    &__country
      width: 300px
      height: 50px
      display:  block
      margin: auto
      text-align: center
      margin-top: 30px
    &__mask__image
      margin: 22px auto
      padding: 15px
      border-radius: 4px
      text-align: center
      display: block
      cursor: pointer
      background-color: white
      width: 500px
    &__message
      width: 500px
      height: 250px
      display:  block
      margin: auto
      text-align: center
      margin-top: 60px
    &__submit  
      position: fixed
      bottom: 30px
      right:  30px
      z-index: 1000
      width: 150px
      height: 150px
      border-radius: 50%
      display:  block
      margin: auto
      text-align: center
      text-decoration: none
      background-color: skyblue
      margin-top: 50px
      color: white
      cursor: pointer
      box-shadow:  0 4px 8px rgba(146, 146, 146, 0.8)
      font-size: 25px
    